.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* text area in form component (user's private url) */
.textarea {
  max-width: 520px;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  resize: vertical; /* allow only vertical */
  margin-bottom: 1em;
  padding: 0.5em;
}